video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .main-container {
    min-height: 100vh;
    width: 100%;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 100px;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-color:#737278;
  }
  
  .section {
    margin: 10px;
    padding-top: 80px;
    background: #2196F3;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-width: 1280px;
    min-width: 90%;
    align-self: center;
  
  }
  
  .content {
    margin: 10px;
    background: #BBDEFB;
  }
  
  .scrollable-content {
    background: white;
    flex-grow: 2;
    overflow: auto;
    /* for Firefox */
    min-height: 0;
  }
  
  .main-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .main-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .radio-buttons {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
  }
  
  .main-btns {
    margin-top: 32px;
  }
  
  .main-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .main-container > h1 {
      font-size: 70px;
    }
  }
  
  .main-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media screen and (max-width: 768px) {
  
    .main-container {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .main-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .main-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  